* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 80px;
  font-family: Arial, sans-serif;

  background: #0d1117;
  color: #c9d1d9;

  transition: background 0.3s, color 0.3s;
}

/* 라이트 모드 */
body.light {
  background: #ffffff;
  color: #111;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  background: inherit;
}

.menu {
  display: flex;
  gap: 24px;
  margin-left: 40px;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.icon {
  width: 32px;
  height: 32px;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 100px 30px;
}

.hero {
  text-align: center;
}
